<%= form_for(@faculcy) do |f| %>
  <% if @faculcy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@faculcy.errors.count, "error") %> prohibited this faculcy from being saved:</h2>

      <ul>
      <% @faculcy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
