<h1>Listing faculcies</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @faculcies.each do |faculcy| %>
  <tr>
    <td><%= faculcy.title %></td>
    <td><%= link_to 'Show', faculcy %></td>
    <td><%= link_to 'Edit', edit_faculcy_path(faculcy) %></td>
    <td><%= link_to 'Destroy', faculcy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Faculcy', new_faculcy_path %>
<%= link_to 'Back' , root_path %>
