<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @faculcy.title %>
</p>

<p> 
  <b>Students on this faculcy:</b>
  <% if @students.count == 0 %>
    <b> None </b>
  <% else %>
    <br>
    <% @students.each do |st| %>
      <table>
    	<tr>
          <td> <%= st.name + ' ' + st.surname %></td>
          <td><%= link_to 'Show details' , st %></td>
        </tr>
      </table>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_faculcy_path(@faculcy) %> |
<%= link_to 'Back', faculcies_path %>
