<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @student.surname %>
</p>

<p>
  <b>Faculcy:</b>
  <% if @faculcy != nil %>
    <%= link_to @faculcy.title , @faculcy %>
  <% else %>
    <u>NOT assigned to any faculcy'</u>
  <% end %>
</p>
<p>
  <b>Studet's marks:</b>
  <% if @marks.count == 0 %>
    <p> Student has not any marks yet </p>
  <% else %>
    <table border="1">
      <tr>
         <td><u>Mark</u></td>
         <td><u>Subject</u></td>
      </tr>
      <% @marks.each do |mrk| %>
        <tr>
          <td><%= mrk.mark %>
          <td><%= mrk.subject.title %>
        </tr>
      <% end %>
    </table>
  <% end %>
</p>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
