<h1>Hello Rails!!</h1>
<hr>

<p><%= link_to  "List all students" , students_path  %></p>
<p><%= link_to  "List all  subjects" , subjects_path %></p>
<p><%= link_to  "List all faculcies" , faculcies_path %></p>

<br><br><br>
<hr>
<p> Created for pupposes of subject 'Databases' </p>
<p>Yaroslav Machkivskiy</p>
<p>Martyna Walaszewska</p>

